{% extends 'base.html' %}
{% load bootstrap4 %}


{% block html_header %}
<script src="/static/js/order_btn.js"></script>

{% endblock %}

{% block html_body %}
    <div class="container">
    <h1>cart</h1>

    <div class="row">
    <table class="table table-hover">
        <thead class="thread-dark">
        <tr>
            <th scope="col">이름</th>
            <th scope="col">가격</th>
            <th scope="col">수량</th>
            <th scope="col">썸네일</th>
        </tr>
        </thead>
    <tbody>
    {% for cart_item in cart_items %}
        <tr>
            <td>{{ cart_item.product.title }}</td>
            <td>{{ cart_item.product.price }}</td>
            <td>{{ cart_item.quantity }}</td>
            <td><img src="{{ cart_item.product.image.url }}" height="100" width="100"></td>
            <td><a class="btn btn-secondary" href="{% url 'order:remove_cart' cart_item.product.pk %}">감소</a></td>
            <td><a class="btn btn-secondary" href="{% url 'order:plus_cart' cart_item.product.pk %}">증가</a></td>
            <td><a class="btn btn-secondary" href="{% url 'order:delete_cart' cart_item.product.pk %}">삭제</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
        </div>

        <button class="btn btn-secondary">
            <a class="btn-secondary" role="button" href="{% url 'order:checkout' %}">buy</a>
        </button>

        <button class="btn btn-indigo">
            <a class="btn btn-info" role="button" href="{% url 'product:ItemList' %}">list</a>
        </button>
    </div>
{% endblock %}