{% extends "base2.html" %}

{% block html_header %}
    <link href="/static/css/comments.css" rel="stylesheet">
{% endblock %}

{% block html_body %}

    <header>
  <nav class="navbar navbar-expand-md mp-3 navbar-dark fixed-top pb-3 bg-dark text-light">

    <div class="container-fluid">
              {% if request.user.is_authenticated %}

      <a class="navbar-brand" href="#">Shopping Mall</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav mb-2 mb-md-0 mx-4">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="{% url 'product:list' %}">product</a>
          </li>
          <li class="nav-item px-1">
            <p class="nav-link"> {{ request.user.username }} 님</p>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link active" href="{% url 'order:cart_detail' %}">
              <i class="bi bi-cart"></i>
            </a>
          </li>
        </ul>
      </div>
          {% else %}

      <a class="navbar-brand" href="#">Shopping Mall</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav mb-2 mb-md-0 mx-4">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="{% url 'product:list' %}">product</a>
          </li>
          <li class="nav-item px-1">
            <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="{% url 'users:signup' %}">Sign up</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link active" href="{% url 'order:cart_detail' %}">
              <i class="bi bi-cart"></i>
            </a>
          </li>
        </ul>
      </div>

          {% endif %}



        <form class="d-flex" action="{% url 'search:s_results' %}" method="get">
          <input class="form-control me-2" type="search" placeholder="" aria-label="Search" name="keyword">
          <button class="btn btn-outline-success" type="submit">search</button>
        </form>

        </div>
  </nav>

</header>

  <main >
  <br>
    <div class="container dark-grey-text mt-lg-5 pt-lg-3">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-6 mb-4 mt-lg-4">

          <img src="{{ product.p_image_thumb.url }}" class="img-fluid" alt="" height="200" width="450">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">
          <h1><p>{{ product.p_name }}</p></h1>

            <div class="mb-3">
              <a href="{% url 'search:category_func' product.p_category %}">
                <span>{{ product.get_p_category_display }}</span>
              </a>
            </div>

            <p class="lead">
              {% if product.p_discount %}
              <span class="mr-1">
                <del>{{ product.p_supply_price }} 원</del>
              </span><br>
              <span><b>{{ product.p_price }} 원</b></span>
              {% else %}
              <span>{{ product.p_supply_price }} 원</span>
              {% endif %}
            </p>




            {% comment %} <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> {% endcomment %}
            <a href="{% url 'order:add_cart' product.id %}" class="btn btn-primary btn-md my-0 p">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">
      {% for photo in product.photo_set.all %}
                  <img src="{{ photo.image.url }}" class="">
      {% endfor %}
        <!--Grid column-->
        <div class="col-lg-6 text-center">

          <h4 class="my-4 h4">DETAIL INFO</h4>


          <p>

              {{ product.p_detail_desc }}

          </p>

        <br>
            <hr>
            <br>
            <div class="container justify-content-start">
    <h3>댓글</h3>
            <div>
    <button class="btn btn-info"><a class="text-white" href="{% url 'product:review' product.id %}">댓글 추가</a></button>
            <br>
    <table class="table table-hover">
        <thead class="thread-dark">
            <tr>
                <th scope="col">댓글 작성자</th>
                <th scope="col">댓글 내용</th>
                <th scope="col">평점</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in reviews %}
            <tr>
                <td>{{ comment.r_author }}</td>
                <td>{{ comment.r_content }}</td>
                <td>{{ comment.r_point }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<br><br><br><br>
</div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->

      <!--Grid row-->

    </div>

  <footer class="container">
      <p class="float-end">
          <a href="#">Back to top</a>
      </p>
      <p>
          "@ 2022 Company, Inc. "
      </p>
  </footer>
  </main>
{% endblock %}
